/* character pages css */
.character-page-article-container{
	box-sizing: border-box;
	background: linear-gradient(to right, black 0%, black 60%, #111 100%);
	height: 100vh;
	padding: 13.67144432194046vh 0 7.166482910694598vh 0;
}
	.character-page-article{
		position: relative;
	}



	/* переключение изображений персонажа */
	.img-slider-container{
		box-sizing: border-box;
		width: 50vw;
		padding: 0 1.785714285714286vw;
	}
	.img-slider-second-container{
		position: relative;
	}
		.img-slider-second-container .img-slider-filter{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-image: url("../img/character-page/slider-front-texture-top.png"), url("../img/character-page/slider-front-texture-bottom.png");
			background-repeat: no-repeat, no-repeat;
			background-size: 20% 27%, 100% 26%;
			background-position: left top, left 101%; /* опустил вниз на 101% потому, что проглядывался небольшой зазор между текстурой и изображением */
		}
	.img-slider{
		position: relative;
		margin: auto;
		width: 45.89285714285714vw;
		height: 80.59536934950386vh;
	}
		.img-slider .img-slider-picture{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
			transition: all ease .5s;
		}
			.img-slider .img-slider-picture.active{
				opacity: 1;
			}
	.img-slider-nums-list{
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 2;
		width: 100%;
	}
		.img-slider-nums-list .img-slider-num{
			margin: 0px 15px;
			padding: 0 15px;
			font-size: 40px;
			color: #232323;
			cursor: pointer;
			transition: color ease .3s;
		}
			.img-slider-nums-list .img-slider-num:hover{
				color: #D6B600;
			}
			.img-slider-nums-list .img-slider-num.active{
				color: #FFDB00;
			}




/* Слайдер описания персонажа */
	.text-slider-container{
		overflow: hidden;
		width: 40vw;
		height: 80.59536934950386vh;
		margin-top: -1.323042998897464vh;
	}
		.text-slider-container hr{
			margin: 10px 0 30px 0;
			border: 4px solid #FFC400;
		}
		.text-slider-container .text-slider-wheel{
			position: relative;
			transition: all ease .3s;
			width: 400%;
		}
		.text-slider-container .text-slider-page{
			box-sizing: border-box;
			overflow: auto;
			width: 40vw;
			height: 66.15214994487321vh;
		}
		.text-slider-container .text-slider-paragraph{
			padding-right: 6px;
		}