/* character pages css */
.character-page-article-container{
	box-sizing: border-box;
	background: black;
}
	.character-page-article{
		position: relative;
	}



	/* переключение изображений персонажа */
	.img-slider-container{
		box-sizing: border-box;
		width: 100%;
	}
	.img-slider-second-container{
		position: relative;
	}
		.img-slider-second-container .img-slider-filter{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-image: url("../img/character-page/slider-front-texture-bottom.png");
			background-repeat: no-repeat;
			background-size: 100% 26%;
			background-position: left 101%; /* опустил вниз на 101% потому, что проглядывался небольшой зазор между текстурой и изображением */
		}
	.img-slider{
		position: relative;
		width: 100vw;
		height: 350px;
	}
		.img-slider .img-slider-picture{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
			transition: all ease .5s;
		}
			.img-slider .img-slider-picture.active{
				opacity: 1;
			}
	.img-slider-nums-list{
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 2;
		width: 100%;
	}
		.img-slider-nums-list .img-slider-num{
			margin: 0px 5px;
			padding: 0 5px;
			font-size: 24px;
			color: #232323;
			cursor: pointer;
			transition: color ease .3s;
		}
			.img-slider-nums-list .img-slider-num.active{
				color: #FFDB00;
			}




/* Слайдер описания персонажа */
	.text-slider-container{
		box-sizing: border-box;
		position: relative;
		overflow: hidden;
		width: 100vw; /* изменил */
		height: 80.59536934950386vh;
		margin-top: 20px;/* изменил */
		padding: 0px 5px;
	}
		.text-slider-container hr{
			width: 100%; /* изменил */
			margin: 0 0 15px 0; /* изменил */
			border: 4px solid #FFC400;
		}
		.text-slider-container .text-slider-wheel{
			position: relative;
			transition: all ease .3s;
			width: 400vw;
		}
		.text-slider-container .text-slider-page{
			overflow: auto;
			width: 100vw;
			height: 66.15214994487321vh;
		}
		.text-slider-container .text-slider-paragraph{
			padding-right: 0; /* изменил */
		}