/* css стили применяющиеся для элементов присутствующий на всех страницах*/
*{
	padding: 0;
	margin: 0;
}
body{
	background-image: black;
}
/* хедер для телефонов и планшетов */
.header-activator{
		position: fixed;
		top: 10px;
		left: 10px;

		width: 40px;
		height: 40px;
		cursor: pointer;
	}
		.header-activator-button{
			width: 100%;
			height: 100%;

			stroke: rgba(94, 94, 94, .7);
			stroke-width: 5px;

			fill: none;
		}
	.mobile-header{
		background: rgba(0,0,0,.95);
		position: fixed;
		left: -100%;
		z-index: 100;
		height: 100vh;
		width: 100vw;
		transition: all ease .3s;
	}
			.mobile-header li{
				margin: 5px 0;
			}
			.mobile-header a{
				font-size: 30px;
			}
			.mobile-header a:hover{
				color: #FFC400;
			}
			.mobile-header ul{
				height: 100vh;
				width: 100%;
				display: flex;
				flex-flow: wrap column;
				justify-content: center;
				align-items: center;

				list-style-type: none;
				text-align: left;
			}
			.mobile-header .character-pages{
				padding: 5px 50px;
				border-top: 1px solid white;
				border-bottom: 1px solid white;
			}
			.mobile-header .character-pages p{
				color: rgba(255, 101, 0, 1);
			}
			.mobile-header .character-pages div{
				display: flex;
				flex-flow: wrap column;
				align-items: center;
			}


/* хедер для пк */
.main-header li>a{
	margin: 0 15px;
}
	.main-header a:hover{
		color: #FFC400;
	}
.main-header .character-pages{
	position: relative;
	height: inherit;
}
	.main-header .character-pages p{
		cursor: default;
		margin: 0 15px;
		color: #D1D1D1;
	}
		.main-header .character-pages div a{
			display: block;
			text-align: center;
		}
		.main-header .character-pages div{
			display: none;
			position: absolute;
			width: 150px;
			background: black;
			left: calc(50% - 75px);
		}
.main-header.fixed{
	background: rgba(0,0,0,.7);
	padding: 14px 0px 14px 0;
	position: fixed;
	top: 0;
	z-index: 10;
	width: 100%;
}
	.main-header.fixed *{
		font-size: 24px;
	}
		.main-header.fixed .character-pages div{
			top: 100%;
		}
			.main-header.fixed .character-pages div a{
				margin-top: 15px;
			}
		.main-header .character-pages:hover div{
			display: block !important;
		}
.main-header.static{
	background: black;
	padding: 5px 0px 5px 0;
	position: absolute;
	bottom: 0;
	z-index: 1;
	width: 100%;
}
	.main-header.static *{
		font-size: 30px;
	}
	.main-header.static .character-pages{
		height: 100%;
	}
	.main-header.static .character-pages div{
			bottom: 100%;
		}
			.main-header.static .character-pages div a{
				margin-bottom: 15px;
			}

			


/*Buttons*/
.slide-btn{
	position: absolute;
	right: 0;
	top: calc(50% - 20px);
	width: 40px;
	height: 40px;
	background: #FFC400;
	cursor: pointer;
	transition: all ease .4s;

	display: flex;
	justify-content: center;
	align-items: center;
}
	.slide-btn:hover{
		background: #FECE2D;
	}
	.slide-btn p{
		cursor: pointer;
		font-size: 30px;
		color: #2D2D2DFF;
	}
	.slide-btn-left{
		right: 105%;
		transform: rotateY(180deg);
	}
	.slide-btn-right{
		left: 105%;
	}
	#character-page-text-slider-btn{
		top: 0;
	}



.flex-start{
	display: flex;
	flex-flow: wrap row;
}
.flex-center{
	display: flex;
	flex-flow: wrap row;
	justify-content: center;
}
.flex-center-center{
	display: flex;
	flex-flow: wrap row;
	justify-content: center;
	align-items: center;
}
.flex-space-between{
	display: flex;
	flex-flow: wrap row;
	justify-content: space-between;
}
.flex-column-start{
	display: flex;
	flex-flow: wrap column;
}
.flex-column-center{
	display: flex;
	flex-flow: wrap column;
	align-items: center;
}
.flex-column-center-center{
	display: flex;
	flex-flow: wrap column;
	justify-content: center;
	align-items: center;
}

@media screen and (min-width: 1200px){
	/* скролл(прокрутка страницы) */
	::-webkit-scrollbar-track{
	background-color:#444444FF;
	box-shadow:0px 0px 3px #000 inset;
	}

	::-webkit-scrollbar-thumb{
	background-color:#FFB000;
	border-radius: 5px;
	}

	::-webkit-scrollbar{
	width: 5px;
	}
}